.fundo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 10%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #f3eee6;
}
.fundocamposcadastro {
    position: absolute;
    height: 45%;
    width: 37.39%;
    top: 8%;
    right: 31.31%;
    bottom: 24%;
    left: 31.31%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #fff;
}
.campousuario, .campoemail, .camposenha {
    position: absolute;
    height: 60.79%;
    width: 100%;
    top: 39.19%;
    right: 0%;
    bottom: 0.02%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    padding-left: 50px; 
    font-size: 16px;
}
.logousuario-icon, .logoemail-icon, .logosenha-icon {
    position: absolute;
    height: 47.95%;
    width: 6.04%;
    top: 44.83%;
    left: 15px; 
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: scale-down;
}
.titulonomeusuario, .tituloemailusuario, .titulosenhausuario {
    display: none; 
}
.containernomeusuario, .containeremailusuario, .containersenhausuario {
    display: none; 
}
.nomeusuario, .emailusuario, .senhausuario {
    position: relative;
    height: 20.93%;
    width: 99.58%;
    margin-bottom: 20px; 
}


.campospreenchimento {
    position: absolute;
    height: 37.47%;
    width: 32.96%;
    top: 16.92%;
    right: 33.53%;
    bottom: 45.61%;
    left: 33.51%;
}
.fundobotaocadastrar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    background-color: #5e5b5b;
}
.textobotaocadastrar {
    position: absolute;
    top: calc(50% - 9.14px);
    left: calc(50% - 53.21px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106.5px;
    height: 18.2px;
    border-radius: 0%;
    border-color: transparent;
}
.botaocadastrar {
    position: relative; 
    height: 40px; 
    width: 150px; 
    margin: 20px auto; 
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0%;
    border-color: transparent;
}
.titulopagina {
    position: absolute;
    height: 3.54%;
    width: 20.02%;
    top: 9%;
    left: 41.29%;
    font-size: 36px;
    color: #5e5b5b;
    display: inline-block;
}
.textofazercadastro {
    position: absolute;
    height: 1.99%;
    top: 48%;
    left: calc(50% - 167px);
    display: inline-block;
    width: 334px;
    cursor: pointer;
}
.containergooglecadastro-icon {
    position: absolute;
    height: 4.09%;
    width: 5.24%;
    top: 62%;
    right: 47.42%;
    bottom: 25.2%;
    left: 47.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit:scale-down;
}
.linhacadastroesquerda {
    position: absolute;
    height: 5.49%;
    width: 44.27%;
    top: 49.25%;
    right: 55.73%;
    bottom: 45.26%;
    left: 0%;
    border-top: 1px solid #000;
    box-sizing: border-box;
}
.linhacadastrodireita {
    position: absolute;
    height: 5.49%;
    width: 44.27%;
    top: 50.04%;
    right: -0.21%;
    bottom: 44.47%;
    left: 55.94%;
    border-top: 1px solid #000;
    box-sizing: border-box;
}
.separacaocadastro {
    position: absolute;
    height: 100%;
    width: 8.58%;
    top: 0%;
    left: 46%;
    background: linear-gradient(#000, #000), linear-gradient(#000, #000), #000;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.separacaocadastrologin {
    position: absolute;
    height: 2.01%;
    width: 34.88%;
    top: 58%;
    right: 32.56%;
    bottom: 31.85%;
    left: 32.56%;
    font-size: 16px;
}
.containercadastro {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 3%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.telacadastro {
    width: 100%;
    position: relative;
    height: 904px;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Poppins;
}
.mensagem-sucesso {
    margin-top: 20px;
    color: green;
    font-size: 16px;
    text-align: center;
}